<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/client/src/styles/styles.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <title>Lumina Indonesia</title>
  </head>
  <header>
    <div class="nav-container">
      <nav class="nav-level">
        <div class="nav-left">
          <p class="logo-name">Lumina</p>
        </div>
        <div class="nav-middle">
          <ul>
            <li class="nav-button">Products</li>
            <li class="nav-button">Orders</li>
            <li class="nav-button">My Profile</li>
          </ul>
        </div>
        <div class="nav-right">
          <ul>
            <li class="nav-button">Logout</li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <body>
    <section class="admin-menus">
      <div class="products-menu">
        <div class="edit-product">
          <table class="products-table">
            <tr>
              <th>
                <form></form>
                >
              </th>
              <th>Stock</th>
              <th>Price</th>
              <th>Description</th>
              <th>Image</th>
              <th>Display</th>
            </tr>
            <tr>
              <td>Name</td>
              <td>Stock</td>
              <td>Price</td>
              <td>Description</td>
              <td>Image</td>
              <td>Display</td>
            </tr>
          </table>
        </div>
        <div class="add-product"></div>
      </div>
      <div class="orders-menu"></div>
      <div class="admin-menu"></div>
    </section>
  </body>
  <footer>
    <section class="social-media">
      <div class="social-media-section">
        <div class="social-media-level">
          <div class="social-media-left">
            <p class="logo-name">Lumina</p>
            <p class="tag-line">
              Your One-Stop Shop for Radiant Skin and Beauty
            </p>
          </div>
          <div class="social-media-right">
            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </section>
  </footer>
</html>
