<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrQkz8R9Ghtpymd6e2b0pXy0J5C5VVUR/8bZufBqt5weF5eP8h5NQvlbEv2ll/tCAYnuZ8Z/NBJdHgsLkg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/src/styles/admin.css" />
  </head>
  <body>
    <div class="container">
      <h1>Admin Dashboard</h1>
      <button id="openAddProductModal" class="button">Add Product</button>
      <div id="addProductModal" class="modal">
        <div class="modal-content">
          <h2>Add Product</h2>
          <form id="add-product-form">
            <input
              type="text"
              name="brand_name"
              placeholder="Brand Name"
              required
            />
            <input
              type="text"
              name="product_name"
              placeholder="Product Name"
              required
            />
            <input
              type="number"
              name="stock_amount"
              placeholder="Stock Amount"
              required
            />
            <input
              type="number"
              name="product_price"
              placeholder="Product Price"
              required
            />
            <input
              type="text"
              name="product_image_url"
              placeholder="Product Image URL"
              required
            />
            <button type="submit">Add Product</button>
            <button type="button" class="button cancel">Cancel</button>
          </form>
        </div>
      </div>
      <div id="editProductModal" class="modal">
        <div class="modal-content">
          <h2>Edit Product</h2>
          <form id="edit-product-form">
            <input
              type="hidden"
              id="edit_product_id"
              name="product_id"
              required
            />
            <input
              type="text"
              id="edit_brand_name"
              name="brand_name"
              placeholder="Brand Name"
              required
            />
            <input
              type="text"
              id="edit_product_name"
              name="product_name"
              placeholder="Product Name"
              required
            />
            <input
              type="number"
              id="edit_stock_amount"
              name="stock_amount"
              placeholder="Stock Amount"
              required
            />
            <input
              type="number"
              id="edit_product_price"
              name="product_price"
              placeholder="Product Price"
              required
            />
            <input
              type="text"
              id="edit_product_image_url"
              name="product_image_url"
              placeholder="Product Image URL"
              required
            />
            <button type="submit">Save Changes</button>
            <button type="button" class="button cancel">Cancel</button>
          </form>
        </div>
      </div>
      <table class="product-table">
        <thead>
          <tr>
            <th>Brand Name</th>
            <th>Product Name</th>
            <th class="align-center">Stock Amount</th>
            <th class="align-right">Product Price</th>
            <th class="align-center">Image</th>
            <th class="align-center">Actions</th>
          </tr>
        </thead>
        <tbody class="product-table-body"></tbody>
      </table>
    </div>
    <script src="/src/scripts/admin.js"></script>
  </body>
</html>
