<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/src/styles/styles.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script src="/src/views/js-script/index.js" defer></script>
    <title>Lumina Indonesia</title>
  </head>
  <header>
    <div class="nav-container">
      <nav class="nav-level">
        <div class="nav-left">
          <a class="nav-link" href="#home"><p class="logo-name">Lumina</p></a>
        </div>
        <div class="nav-middle">
          <ul>
            <li class="nav-button">
              <a class="nav-link" href="#all-products">All Products</a>
            </li>
            <li class="nav-button">
              <a class="nav-link" href="#about-us">About Us</a>
            </li>
          </ul>
        </div>
        <div class="nav-right">
          <ul>
            <li class="nav-button"><a href="/admin">Admin Dashboard</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <body>
    <section class="banners" id="home">
      <div class="main-banner" display:>
        <a href="https://www.google.com/">
          <img
            class="main-banner-picture"
            src="src/assets/other-images/banner-skintific.jpg"
            alt="mainbanner"
          />
        </a>
      </div>
    </section>
    <section class="all-products" id="all-products">
      <div class="section-title">ALL PRODUCTS</div>
      <div class="product-container"></div>
    </section>
    <section class="about-us" id="about-us">
      <div class="section-title">ABOUT US</div>
      <div class="about-us-container">
        <p class="slogan">"Redefine Your Skincare Journey."</p>
        <div class="about-explanation-left">
          <img
            class="about-us-pic"
            src="/src/assets/other-images/about-us-photo-1.jpg"
          />
          <p class="about-us-text">
            Lumina is your gateway to radiant skin. As curators of beauty, we
            meticulously select and offer a curated collection of premium
            skincare products.
          </p>
        </div>
        <div class="about-explanation-right">
          <p class="about-us-text">
            Lumina bridges the gap between science and self-care, ensuring that
            every product we offer is a testament to quality and efficacy.
          </p>
          <div class="about-us-pic-right">
            <img
              class="about-us-pic"
              src="/src/assets/other-images/about-us-photo-2.jpg"
            />
          </div>
        </div>
        <div class="about-explanation-left">
          <img
            class="about-us-pic"
            src="/src/assets/other-images/about-us-photo-3.jpg"
          />
          <p class="about-us-text">
            Trust us to redefine your skincare journey, one product at a time.
          </p>
        </div>
      </div>
    </section>
  </body>
  <footer>
    <section class="social-media">
      <div class="social-media-section">
        <div class="social-media-level">
          <div class="social-media-left">
            <p class="logo-name">Lumina</p>
            <p class="tag-line">
              Your One-Stop Shop for Radiant Skin and Beauty
            </p>
          </div>
          <div class="social-media-right">
            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </section>
  </footer>
</html>
