:root {
  --text-color: #432e34;
  --main-pink: #f9dff2;
  --warm-pink: #e299c4;
  --white-shade: #d5dbea;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: tahoma;
  color: var(--text-color);
}

header {
  height: 50px;
  width: 100%;
  background-color: white;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  border-bottom: 2px solid lightgray;
}

.nav-container {
  margin: auto;
  width: 100%;
}

.nav-level {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 90%;
}

.nav-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-left {
  display: flex;
  justify-content: flex-start;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
}

.logo-name {
  font-size: 40px;
  font-family: 'Brush Script MT';
}

ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-button {
  display: inline-block;
  text-align: center;
  padding: 16px;
}

.all-products {
  padding-top: 80px;
}

.section-title {
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 24px;
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: -20px;
  height: 5px;
  width: 90px;
  background: var(--warm-pink);
}

.about-us {
  padding-top: 80px;
  padding-top: 80px;
}

/** Product card section**/

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto;
  padding-top: 50px;
}

/* Basic styling for product cards */
.product-card {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  margin: 10px;
  width: calc(20% - 20px); /* 4 cards per row */
}

.product-card img {
  max-width: 100%;
  height: auto;
}

.price {
  font-weight: bold;
  color: #d782ae;
}

.add-to-cart {
  background-color: #d782ae;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
